{% extends '::base.html.twig' %}

{% block body -%}

    <h1>Categories</h1>
    <p>
        <a href="{{ path('categories_new_category') }}" class="btn btn-primary">
            Create a new entry
        </a>
    </p>

    {% if categories %}
        <div class="page-header">
            <h1>Published</h1>
        </div>

        {% include 'AcmePublicationBundle:Category:_published.html.twig' with {'entities' : categories} %}
    {% endif %}

    {% if deleted %}
        <div class="page-header">
            <h1>Deleted</h1>
        </div>
        {% include 'AcmePublicationBundle:Category:_deleted.html.twig' with {'entities' : deleted} %}
    {% endif %}

{% endblock %}
