{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Publications</h1>
    <p>
        <a href="{{ path('publications_new_publication') }}" class="btn btn-primary">
            Create a new entry
        </a>
    </p>

    {% if publications %}
        <div class="page-header">
            <h1>Published</h1>
        </div>

        {% include 'AcmePublicationBundle:Publication:_published.html.twig' with {'entities' : publications} %}
    {% endif %}

    {% if deleted %}
        <div class="page-header">
            <h1>Deleted</h1>
        </div>
        {% include 'AcmePublicationBundle:Publication:_deleted.html.twig' with {'entities' : deleted} %}
    {% endif %}

{% endblock %}
