{% extends '::base.html.twig' %}

{% block body -%}
    {% if publications %}
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="articles">
                    {% for entity in publications %}
                    <article class="article">
                        <h4>
                            <a href="{{ path('publication_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                        </h4>
                        <div class="date"></div>
                        <div class="date">
                            {% if entity.category %}
                                <strong>category:</strong> {{ entity.category.name }}
                            {% endif %}
                        </div>
                        <div>
                            {{ entity.content | truncate(50) }}
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif     %}
{% endblock %}
